.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section {
    border-radius: 10px;
    background: radial-gradient(white, #5271ff);
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 400px;
    height: 400px;
    text-align: center;
}

section h1, section h2 {
    font-size: 20px;
}

section a {
    text-decoration: none;
}

section p {
    text-align: center;
    font-weight: bold;
}

.container img {
    width: 300px;
    margin: 0 auto;
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.container img:hover {
    transform: rotate(20deg);
}

span {
    font-weight: bold;
    font-size: 25px;
}

h1 {
    text-align: center;
}

input {
    width: 200px;
}

#toggleSearch {
    margin: 20px;
    cursor: pointer;
}

#searchInput {
        height: 25px;
}

#toggleSearch img{
    width: 30px;
}

#searchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#imageContainer {
    margin-right: 10px; 
}

#submit {
    width: 50px;
    height: 25px;
}

footer {
    position: fixed;
}